<div class="row">
  <div class="col-md-12">
    Hello There, <span id="user"><%= @conn.params["user"]%></span>
  </div>
  <input type="text" id="newMessage" class="form-control" placeholder="message">
  <div class="col-md-8">
    <h3>Message:</h3>
    <ul id="messageList" class="list-unstyled">

    </ul>
  </div>
</div>